PORT=3000
VITE_BASE_PATH=/
VITE_FLEX_API_BASE_URL=
APP_ORIGIN=https://alignet-docs.github.io
FLEX_AUTH_BASE_URL=https://auth.alignet.io
FLEX_API_AUDIENCE=https://api.alignet.io
FLEX_ASSET_BASE_URL=https://flex.alignet.io
FLEX_CLIENT_ID=replace_me
FLEX_CLIENT_SECRET=replace_me
FLEX_MERCHANT_CODE=replace_me
FLEX_TOKEN_SCOPE=create:token post:charges offline_access
FLEX_NONCE_SCOPE=create:token post:charges
